// Suisse Int'l
@font-face {
    font-family: "Suisse Int'l";
    src: url("../../assets/fonts/suisseintl.woff2") format("woff2"),
        url("../../assets/fonts/suisseintl.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

// Suisse Int'l Mono
@font-face {
    font-family: "Suisse Int'l Mono";
    src: url("../../assets/fonts/suisseintlmono.woff2") format("woff2"),
        url("../../assets/fonts/suisseintlmono.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
